html {
  scroll-behavior: smooth;
}
body{
    background-image: url("satto_landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

.logo{
    height: 25px;
    width: 80px;
}

.nav-container{
    width: 997px;
    height: 75px;
    padding: 0 24px;
    max-width: 997px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.03);
    background-color: white;
    border-radius: 6px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.nav-links{
    display: flex;
    gap: 55px;
}

.signup_btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.signup_btn{
    height: 45px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 4px;
}

.signup_btn:hover{
    background-color:  #00894E;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

h1{
    font-size: 63px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0px;
}

.done{
    background-color: rgba(0, 211, 99, 0.2);
    border: 1.5px solid white;
    border-radius: 100px;
    padding: 0px 25px;
    align-items: center;
    margin-bottom: 0px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 35px;
}

.get-start-btn a{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 8px;
}
.get-start-btn{
    background-color: #00894E;
    border-radius: 100px;
    padding: 13px 25px;
    align-items: center;
}
.get-start-btn:hover{
    background-color:  #005730;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.learn-more-btn a{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 8px;  
}
.learn-more-btn{
    background-color: white;
    border-radius: 100px;
    padding: 13px 25px;
    align-items: center; 
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.03);
}
.learn-more-btn:hover{
    background-color:  rgb(234, 234, 234);
    cursor: pointer;
    transition: background-color 0.3s ease-out;  
}

.hero-cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 0px;
}

.card1{
    height: 90px;
    width: 270px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 10px;
    background: linear-gradient( #EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.card2{
    height: 90px;
    width: 270px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 10px;
    background: linear-gradient( #EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card3{
    height: 90px;
    width: 270px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 10px;
    background: linear-gradient( #EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1:hover,
.card2:hover,
.card3:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;
}
.feature-card{
    height: 20px;
    width: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    background: linear-gradient( #EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08); 
}
.features-wrapper{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 40px;
}
.features-left{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.features-right{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-right: -50px;
}
.feature-number{
    font-size: 30px;
    position: absolute;
    left: -90px;
    height: 20px;
    width: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    background: white;
    border: 2px solid #d9ffd4;
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08); 
}
.feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;  
}
.feat1{
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    gap: 15px;
    height: auto;     
    width: 300px;           
    padding: 20px;
    background: linear-gradient(#EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feat2{
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    gap: 15px;
    height: auto;     
    width: 300px;           
    padding: 20px;
    background: linear-gradient(#EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feat3{
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    gap: 15px;
    height: auto;     
    width: 300px;           
    padding: 20px;
    background: linear-gradient(#EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feat4{
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    gap: 15px;
    height: auto;     
    width: 300px;           
    padding: 20px;
    background: linear-gradient(#EDFBEC, #d9ffd4);
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feat1:hover,
.feat2:hover,
.feat3:hover,
.feat4:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
